.navbar {
  background: yellow;
  width: 300px;
  min-height: 90vh;
  position: fixed;
  top: 0;
  left: -300px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 500ms ease-in-out;
}
.nav_links{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.btn {
  display: flex;
  justify-content: center;
}

.left-0 {
  left: 0;
}

.icon {
  background: black;
  height: 3px;
  width: 24px;
  display: block;
}

.gap-5 {
  gap: 5px;
}

.menuicon{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.d_none{
  display: none;
}
.max_width_300{
  max-width: 300px;
}